.contact-section {
    background-color: #89a8c4;
    padding: 60px 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #333;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-section h2 {
    font-size: 2.5rem;
    color: #004080; /* Corporate color */
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
  }
  
  .contact-section h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #f0c040; /* Accent color */
    margin: 20px auto 0;
  }
  
  .contact-section p {
    font-size: 1rem;
    line-height: 1.8;
    color: #0b07eb;
    margin: 0 0 20px;
  }
  
  address {
    font-style: normal;
  }
  
  address p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px 0;
    color: #666;
  }
  
  address p:first-child {
    font-weight: 600;
  }
  
  address p a {
    color: #004080; /* Corporate color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  address p a:hover {
    color: #f0c040; /* Accent color */
  }
  
  .form-container {
    margin-top: 40px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }

  .form-container p {
    color: #000000;
  }
  
  .form-container h3 {
    font-size: 2rem;
    color: #004080; /* Corporate color */
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form label {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    border-color: #004080; /* Focus border color */
    outline: none;
  }
  
  .contact-form button {
    background-color: #004080; /* Corporate color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #003366; /* Darker shade for hover */
  }
  
  .map-container {
    margin-top: 40px;
  }
  
  .map-container h3 {
    font-size: 1.5rem;
    color: #004080; /* Corporate color */
    margin-bottom: 20px;
  }
  
  .map-container iframe {
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 400px;
    max-width: 60%;
  }
  @media screen and (max-width: 768px) {
    .contact-section {
      padding: 40px 15px;
    }
  
    .contact-section h2 {
      font-size: 2rem;
    }
  
    .contact-section p,
    address p {
      font-size: 0.9rem;
    }
    
    .form-container h3 {
      font-size: 1.5rem;
    }

    .form-container {
        max-width: 300px;
  
    }

    .map-container iframe {
        height: 250px;
      }
  }
  