<section class="contact-section">
    <h2>Contact Us</h2>
   
    <address>
      <p>Cyrus Research India Pvt Ltd</p>
      <p>No. F8. Rohini Garden, MRC Nagar, R. A, Puram. Chennai – 600028, Tamil Nadu, India</p>
      <p>Mob. No: +91 9884133521, Tel. Ph. No: +91 44 4202 2111</p>
      <p>Email: info&#64;cyrusresearch.com</p>
    </address>
  
    <div class="form-container">
      <p>If you have any queries or complaints about our compliance with this Privacy Policy, please reach out to us.</p> <br>
      <h3>Request for Information</h3>
      <p>Contact us today to find out how we can help you with your drug development needs.</p>
      <form class="contact-form">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
  
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone">
  
        <label for="email">Email*</label>
        <input type="email" id="email" name="email" required>
  
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="4" required></textarea>
  
        <button type="submit">Send Message</button>
      </form>
    </div>
  
    <!-- Map Section -->
    <div class="map-container">
      <h3>Our Location</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4610.999968935444!2d80.26685777572361!3d13.022318313763039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267da4cca06cf%3A0x3ae86216cb6e5102!2sEthos%20Clinical%20Research!5e1!3m2!1sen!2sin!4v1725951400245!5m2!1sen!2sin"
        width="100%"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
