<header>
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="assets/logo.png" alt="Cyrus Research India Pvt Ltd" />
      <span>CYRUS RESEARCH INDIA PVT LTD</span>
    </div>
    
    <!-- Hamburger Menu Icon for Mobile -->
    <div class="hamburger" onclick="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    
    <ul class="navbar-links" [class.active]="isMenuActive">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/aboutus">About Us</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="footer-content">
    <img src="assets/logo.png" alt="Cyrus Research India Pvt Ltd" />
    <p>Cyrus Research India Pvt Ltd</p>
    <p>No. F8. Rohini Garden, MRC Nagar, R. A, Puram. Chennai – 600028, Tamil Nadu, India</p>
    <p>Mob. No: +91 9884133521, Tel. Ph. No: +91 44 4202 2111</p>
    <p>Email: info&#64;cyrusresearch.com</p>
  </div>
</footer>
